{#
  /**
   * @file
   * Custom template for field--field-content-2.html.twig.
   */
#}
<div {{ attributes.addClass (attributes.addClass, ['w-1/2 mx-auto justify-center text-center text-white pb-8']) }}">
  {% for item in items %}
    <div{{ item.attributes.addClass ('field__item') }}>
      {{ item.content }}
    </div>
  {% endfor %}
</div>
