{#
/**
 * @file
 * Custom template for paragraph--banner.html.twig.
 */
#}

<div{{attributes.addClass('relative mb-96')}}>

	<div class="relative">
		<div class="absolute w-full h-screen inset-0 ">
			<img src="/sites/default/files/styles/large/public/2024-06/heic1509a.jpg.webp?itok=hAD7i-cc" alt="Image" class="w-full h-screen">
		</div>
		<div class="absolute w-full h-screen inset-0 bg-gradient-to-b from-black/75 to-gray-900 h-screen"></div>
		<div class="relative z-10 text-white text-2xl font-bold py-40">
			{{ content.field_content }}
		</div>
	</div>

<div class="relative flex mx-auto justify-center">
  <img src="/sites/default/files/styles/large/public/2024-06/foto_0.webp?itok=YlqMqs_-" alt="Image" class="w-40 h-40 z-40 rounded-full opacity-0 js-animate-on-scroll">
</div>

</div>
